<!DOCTYPE html>
{% load static %}
<html theme="light" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Beshsim</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: "selector",
        };
    </script>
</head>
<body>
<body class="bg-white dark:bg-gray-900 text-gray-700 dark:text-gray-300">
{% comment %} <div class="container max-w-sm mx-auto p-6"> {% endcomment %}
{% block content %} {% endblock content %}
{% comment %} </div> {% endcomment %}
<script src="{% static "js/main.js" %}"></script>

</body>
</html>
